@model IEnumerable<AffiliateNetwork.Models.Category>

@{
    ViewBag.Title = "Categories List";
}
<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        <hr />
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
        {
            <p>
                Search: @Html.TextBox("SearchString")
                <input type="submit" value="Search" class="btn btn-primary btn-sm" />
            </p>
        }

        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Html.ActionLink("Id", "Index", new { sortBy = "Id", sortDirection = ViewBag.SortDirection })</th>
                                <th>@Html.ActionLink("Name", "Index", new { sortBy = "Name", sortDirection = ViewBag.SortDirection })</th>
                                <th>@Html.ActionLink("Campaigns Count", "Index", new { sortBy = "CampaignsCount", sortDirection = ViewBag.SortDirection })</th>
                                <th>-</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Campaigns.Count)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @Html.PageLink((int)ViewBag.CurrentPage, (int)ViewBag.TotalPages, p => Url.Action("Index", new { page = p, sortBy = ViewBag.CurrentSort, sortDirection = ViewBag.SortDirection}))
    </div>
</div>