@model AffiliateNetwork.Web.Models.ProfileEditInputModel
@{
    ViewBag.Title = "Edit Profile";
}

<h2>@ViewBag.Title.</h2>

<div class="col-md-8 col-md-offset-2">
    @using (Html.BeginForm("EditProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.FormGroupFor(m => m.Email)
        @Html.FormGroupFor(m => m.UserName)
        @Html.FormGroupFor(m => m.FirstName)
        @Html.FormGroupFor(m => m.LastName)
        @Html.FormGroupFor(m => m.CompanyName)
        @Html.FormGroupFor(m => m.ContactPhone)
        @Html.FormGroupFor(m => m.Address)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="file" name="ProfilePhoto" id="ProfilePhoto" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.SubmitButton("Edit Profile")
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
