@model AffiliateNetwork.Models.SiteSetting

@{
    Layout = "../Shared/_AddEditLayout.cshtml";
    ViewBag.Title = "Add New Setting";
    ViewBag.ColSize = 8;
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.FormGroupFor(model => model.Name)
@Html.FormGroupFor(model => model.Value)
@Html.FormGroupFor(model => model.Description)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.SubmitButton("Create")
        @Html.SuccessButton("Cancel", "Index")
    </div>
</div>