@model AffiliateNetwork.Models.InfoPage

@{
    Layout = "../Shared/_AddEditLayout.cshtml";
    ViewBag.Title = "Create New Page";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.FormGroupFor(model => model.SeoUrl)
@Html.FormGroupFor(model => model.Title)
@Html.FormGroupFor(model => model.Content)
@Html.FormGroupFor(model => model.Order)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.SubmitButton("Create")
        @Html.SuccessButton("Cancel", "Index")
    </div>
</div>
