@model AffiliateNetwork.Models.InfoPage

@{
    Layout = "../Shared/_AddEditLayout.cshtml";
    ViewBag.Title = "Edit Info Page";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)

@Html.FormGroupFor(model => model.SeoUrl)
@Html.FormGroupFor(model => model.Title)
@Html.FormGroupFor(model => model.Content)
@Html.FormGroupFor(model => model.Order)
@Html.EnumFormGroupFor(model => model.IsVisible)
 
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.SubmitButton("Save")
        @Html.SuccessButton("Cancel", "Index")
    </div>
</div>