@model IEnumerable<AffiliateNetwork.Web.Areas.Administration.Models.ListInfoPageViewModel>

@using GridMvc.Html

@{
    ViewBag.Title = "List Information Pages";
}

@section Styles{
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        @Html.CreateButton()
        <hr />
    </div>
</div>

@using (Html.BeginForm("Index", "InfoPages", FormMethod.Get))
{
    @:Page Size: @Html.PerPageDropDown(ViewBag.PageSize as int?)
}

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.Id)
        .SetWidth(50)
        .Sortable(true);
    
    columns.Add(x => x.SeoUrl)
        .Titled("Seo URL")
        .SetWidth(100)
        .Sortable(true);

    columns.Add(x => x.Title)
        .RenderValueAs(x => Html.ActionLink(x.Title, "Details", new { Id = x.Id }, null).ToHtmlString())
        .Encoded(false)
        .Sanitized(false)
        .Sortable(true)
        .Filterable(true);

    columns.Add(x => x.Order)
        .SetWidth(50)
        .Sortable(true);
    
    columns.Add()
        .Titled("Active")
        .RenderValueAs(x => @Html.DisplayFor(s => x.IsVisible))
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(50);
    
    columns.Add()
        .RenderValueAs(x => @Html.EditButton(x.Id))
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(50);
    
    columns.Add()
        .RenderValueAs(x => @Html.DeleteButton(x.Id))
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(50);

}).WithPaging(ViewBag.PageSize)

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
}