@model AffiliateNetwork.Models.Campaign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandingPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandingPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
